html,
body {
  padding: 0;
  margin: 0;
  background: #f8f3ff;
}

* {
  font-family: serif;
  color: #220235;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 0 0 0;
}

h1 {
  font-size: 4em;
  margin: 1em 0;
  text-align: center;
}

.todo-input {
  height: 89%;
  width: 74%;
  border: 2px solid #220235;
  border-radius: 10px;
  font-size: 120%;
}

.add-todo-button {
  font-size: 1em;
  font-weight: 700;
  height: 100%;
  width: 10%;
  background: #220235;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.add-todo-button:hover {
  background: #4c0772;
}

.inputs {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 5% 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo {
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.list-of-todos {
  padding: 2% 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.todo-element {
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #220235;
  border-radius: 30px;
  padding: 0 3%;
}

h3 {
  font-size: 1em;
  margin: 0;
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
}

.delete-todo {
  font-size: 1em;
  font-weight: 700;
  background: #ff2626;
  color: #fff;
  border: 0;
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
}

.delete-todo:hover {
  background: #ff6868;
}

.checkbox-todo {
  margin: 0;
  height: 1.5em;
  width: 1.5em;
}

.todo-creation-error {
  position: absolute;
  top: 7em;
  left: 10em;
  font-size: 1.8em;
  font-weight: 900;
  color: #ff2626;
}

.due-date {
  font-size: 1em;
  height: 100%;
  padding: 0 0.3em;
  color: #fff;
  background: #220235;
  border: 0;
  border-radius: 5px;
}

.input-date {
  font-size: 1em;
  margin: 0;
  font-weight: 600;
  background: rgb(232, 216, 240);
  border-radius: 7px;
  padding: 0 0.1em;
}

.reset-button {
  height: 3em;
  font-size: 1.5em;
  font-weight: 700;
  width: 22%;
  align-self: center;
  background: #220235;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.overdue-message {
  background: #ff2626;
  color: #fff;
  height: auto;
  font-size: 2em;
  width: auto;
  text-align: center;
  align-self: center;
  padding: 0 0.3em;
  border-radius: 5px;
}

.reset-button:hover {
  background: #4c0772;
}
